/* Global */

@font-face {
  font-family: 'Wisdom Script Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Wisdom Script Regular'), url('../vendor/Wisdom Script AJ.woff') format('woff');
}
body {
  padding: 0;
  margin: 0;
}
.titles-1 {
  display: block;
  justify-content: center;
  text-align: center;
  font-family: 'Montserrat', serif;
  padding-top: 80px;
  padding-bottom: 50px;
  h1 {
    text-transform: uppercase;
  }
  p {
    color: #777777;
    font-family: "Droid Serif", serif;
    font-size: 16px;
    font-style: italic;
  }
}
.row {
  justify-content: center;
}
/*Splash*/

.splash {
  width: 100%;
  height: 700px;
  margin: 0;
  background-image: url(../images/Background_Image.png);
  object-fit: cover;
}
.logo {
  margin: 32px 0;
  width: 79px;
  height: 28px;
  font-size: 26px;
  font-weight: 400;
  line-height: 41px;
  letter-spacing: 1.3px;
  a {
    text-decoration: none;
    color: #fed136;
    font-family: 'Wisdom Script Regular', serif;
  }
}

.menu {
  justify-content: space-around;
  ul {
    list-style-type: none;
    margin-top: 32px;
  }
  li {
    display: inline-block;
    margin-right: 30px;
    a {
      text-decoration: none;
      color: #ffffff;
      font-family: 'Montserrat', serif;
      height: 10px;
      font-size: 14px;
      font-weight: 400;
      line-height: 41px;
      text-transform: uppercase;
    }
  }
}
.golden {
  justify-content: center;
  display: flex;
}
.navbar {
  justify-content: space-around;
  display: block;
}
.titles {
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}
.home {
  color: #ffffff;
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.page-title {
  font-family: 'Droid Serif', serif;
  font-size: 40px;
  font-style: italic;
  letter-spacing: -1px;
  margin: 26px auto;
  text-align: center;
}
.page-subtitle {
  font-family: 'Montserrat', serif;
  font-size: 75px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1.88px;
  margin: 26px auto;
}
.btn-1 {
  width: 242px;
  height: 68px;
  font-size: 18px;
  display: inline-block;
  min-width: 160px;
  margin: 24px auto 0 auto;
  padding: 16px;
  border-radius: 5px;
  border-color: #fed136;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  background-color: #fed136;
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Montserrat', serif;
  font-weight: 700;
  line-height: 30px;
}

/*Services*/

.services {
  padding-bottom: 100px;
.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  a {
    i {
      font-size: 30px;
      background: #ffffff;
      width: 60px;
      height: 60px;
      line-height: 50px;
      color: #fed136;
      border-radius: 50%;
      border: solid 3px;
      padding-top: 5px;
      text-align: center;
      }
    }
}
.box {
  display: flex;
  flex-direction: column;
  h3, p, a {
    text-align: center;
  }
  p {
    color: #777777;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.35px;
  }
  }
}

/*Portfolio*/

.portfolio {
  background-color: #f7f7f7;
  padding-bottom: 80px;
}
.card {
  background-color: #ffffff;
  padding-bottom: 10px;
  margin-bottom: 30px;
}
.container {
  display: block;
  flex-direction: row;
  justify-content: space-around;
}
.card-image img {
  width: 100%;
}
.card-body {
  text-align: center;
  h5 {
    color: #333333;
    font-family: 'Montserrat', serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.45px;
    margin-bottom: 10px;
  }
  p {
    color: #737373;
    font-family: "Droid Serif", serif;
    font-size: 14px;
    font-style: italic;
  }
}

/*Footer*/

.links {
  display: flex;
  justify-content: center;
  ul {
    list-style-type: none;
    padding: 0;
    li {
      display: inline-block;
      font-size: 0;
      a {
        text-decoration: none;
      }
      i {
        background: black;
        font-size: 20px;
        width: 40px;
        height: 40px;
        line-height: 30px;
        color: #ffffff;
        border-radius: 50%;
        padding-top: 5px;
        text-align: center;
      }
    }
  }
}

.copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  i {
    margin-top: 17px;
    margin-right: 0;
    font-size: 10px;
    width: 12px;
    height: 12px;
    line-height: 15px;
  }
  p {
    line-height: 22px;
    font-size: 14px;
    color: #555555;
    font-family: 'Montserrat', serif;
  }
}


/*Media*/

@media /*(min-width: 768px) and*/ (max-width: 991px) {
  .titles {
    margin-top: 40px;
  }
  .items {
    display: block;
    flex-direction: column;
  }
  .page-subtitle {
    text-align: center;
  }
  .menu ul li {
    display: block;
    height: 30px;
    text-align: right;
  }
  .navbar {
    display: block;
    justify-content: flex-end;
  }
}
